# Salesforce
.pmdCache
.sfdx
.salesforce
.localdevserver

# IDE
.vscode
*.code-workspace
.idea
*.iml

# Environment
*.env

# Other
node_modules/
.classpath
.DS_Store
.project
.settings
selenium-client-jars/
test/artifacts

force-app/main/default/objects/Case/fields/AccountId.field-meta.xml
force-app/main/default/objects/Case/fields/AssetId.field-meta.xml
force-app/main/default/objects/Case/fields/AssetWarrantyId.field-meta.xml
force-app/main/default/objects/Case/fields/BusinessHoursId.field-meta.xml
force-app/main/default/objects/Case/fields/ClosedDate.field-meta.xml
force-app/main/default/objects/Case/fields/Comments.field-meta.xml
force-app/main/default/objects/Case/fields/ContactEmail.field-meta.xml
force-app/main/default/objects/Case/fields/ContactFax.field-meta.xml
force-app/main/default/objects/Case/fields/ContactId.field-meta.xml
force-app/main/default/objects/Case/fields/ContactMobile.field-meta.xml
force-app/main/default/objects/Case/fields/ContactPhone.field-meta.xml
force-app/main/default/objects/Case/fields/EntitlementId.field-meta.xml
force-app/main/default/objects/Case/fields/Description.field-meta.xml
force-app/main/default/objects/Case/fields/IsClosedOnCreate.field-meta.xml
force-app/main/default/objects/Case/fields/IsEscalated.field-meta.xml
force-app/main/default/objects/Case/fields/IsStopped.field-meta.xml
force-app/main/default/objects/Case/fields/MilestoneStatus.field-meta.xml
force-app/main/default/objects/Case/fields/MilestoneStatusIcon.field-meta.xml
force-app/main/default/objects/Case/fields/Origin.field-meta.xml
force-app/main/default/objects/Case/fields/OwnerId.field-meta.xml
force-app/main/default/objects/Case/fields/ParentId.field-meta.xml
force-app/main/default/objects/Case/fields/Priority.field-meta.xml
force-app/main/default/objects/Case/fields/ProductId.field-meta.xml
force-app/main/default/objects/Case/fields/Reason.field-meta.xml
force-app/main/default/objects/Case/fields/ServiceContractId.field-meta.xml
force-app/main/default/objects/Case/fields/SlaExitDate.field-meta.xml
force-app/main/default/objects/Case/fields/SlaStartDate.field-meta.xml
force-app/main/default/objects/Case/fields/Status.field-meta.xml
force-app/main/default/objects/Case/fields/StopStartDate.field-meta.xml
force-app/main/default/objects/Case/fields/Subject.field-meta.xml
force-app/main/default/objects/Case/fields/SuppliedEmail.field-meta.xml
force-app/main/default/objects/Case/fields/SuppliedCompany.field-meta.xml
force-app/main/default/objects/Case/fields/SuppliedName.field-meta.xml
force-app/main/default/objects/Case/fields/SuppliedPhone.field-meta.xml
force-app/main/default/objects/Case/fields/Type.field-meta.xml